.cart {
  margin: 7rem auto 0;
  display: grid;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
  width: 90%;
  padding: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  gap: 0.5rem;
  height: 6rem;
  background: var(--bg-primary);
}

.item img {
  width: 5rem;
  margin: 7px 10px;
}
.disc {
  text-overflow: ellipsis; /* IE, Safari (WebKit) */
  overflow: hidden; /* don't show excess chars */
  white-space: nowrap;
}

.price {
  padding-left: 0.3rem;
}
.quantity,
.remove {
  height: 2rem;
}
.quantity {
  width: 3rem;
  border-radius: 0.5rem;
  outline: none;
  padding: 0 0.5rem;
  background: var(--tag-secondary);
  color: var(--bg-primary);
  font-weight: bold;
  border: none;
}
.quantity,
.remove,
.disc,
.price {
  margin: 2rem 0 0;
}

.remove {
  margin: 2rem 1rem 0 0;
  background: var(--tag-primary);
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 12px -6px var(--card-box);
  cursor: pointer;
}
.remove:hover {
  box-shadow: 2px 3px 12px -6px var(--text-primary);
}

#cart_id {
  opacity: 0;
}

.total {
  background: var(--bg-secondary);
  width: 93%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
