.product-head {
  text-align: center;
  margin: 1rem 0;
}

.card img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
}

.prod-disc {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--bg-primary);
  left: 0;
  padding: 0 0.5rem;
  text-align: left;
  height: 7rem;
}
.prod-disc svg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 9px;
  left: 6px;
}

.cart_div {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  background: var(--bg-secondary);
  border-radius: 50%;
  border: none;
}
.cart_div:focus {
  background: var(--card-box);
}

.price,
.discounted_price{
  display: inline;
  padding: 0 0.2rem;
}

.price{
  text-decoration: line-through;
  color: var(--text-secondary);
}

.discounted_price{
  color: var(--tag-secondary);

}

.discount{
  color: var(--tag-primary);
}

#rating,
#main_rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 2.5rem;
  background-color: var(--tag-secondary);
  border-radius: 0.3rem;
  color: white;
  margin-top: 1rem;
  margin-left: 0.5rem;
  height: 1.5rem;
}
#rating p,
#main_rating p {
  margin-top: 3px;
  margin-left: 3px;
  font-weight: bold;
  font-size: 0.8rem;
}
.fa {
  margin-top: 4px;
  margin-left: 2px;
}