.product-head {
  text-align: center;
  margin: 1rem 0;
}

.card img {
  width: 14rem;
}

.prod-disc {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--bg-primary);
  left: 0;
  padding: 0 0.5rem;
  text-align: left;
  height: 5rem;
}
.prod-disc svg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 9px;
  left: 6px;
}

.cart_div {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  background: var(--bg-secondary);
  border-radius: 50%;
  border: none;
}
.cart_div:focus {
  background: var(--card-box);
}

.price,
.discounted_price{
  display: inline;
  padding: 0 0.2rem;
}

.price{
  text-decoration: line-through;
  color: var(--text-secondary);
}

.discounted_price{
  color: var(--tag-secondary);

}

.discount{
  color: var(--tag-primary);
}